/*  Giftr.com
    Color Scheme:
      #fa9d35 (orange)
      #323a45 (blue/green)
      #f3efe6 (off-white)
      #ffffff (white)
*/

body{
  background-color: #323a45;
}
.title{
  font-size: 80pt;
  font-family: 'Poiret One';
  color: #fa9d35;
  margin: 0px;
  padding-left: 50px;
  border-bottom: 1px solid #f3efe6;
}
a{
  text-decoration: none;
  color: #fa9d35;
}
.com{
  font-size: 40pt;
  font-family: 'Poiret One';
  color: #f3efe6;
}
.bgphoto{
  margin: 0px 0px 100px 60px;
  position: absolute;
}
.startbutton{
    border: 3px solid black;
    position: absolute;
    margin: 175px 0px 0px 100px;
    width: 300px;
    height: 50px;
    background-color: #323a45;
    font-size: 12pt;
    color: white;
}
.startbutton:hover{
    border: 3px solid black;
    position: absolute;
    margin: 175px 0px 0px 100px;
    width: 300px;
    height: 50px;
    background-color: #fa9d35;
    font-size: 12pt;
}
.nameprompt{
  color: white;
  position: absolute;
  font-family: 'Poiret One';
  font-size: 22pt;
  margin: 50px 0px 0px 100px;
}
.firstname{
  position: absolute;
  margin: 100px 0px 0px 100px;
}
.lastname{
  position: absolute;
  margin: 100px 0px 0px 300px;
}
.friendnameprompt{
  color: white;
  position: absolute;
  font-family: 'Poiret One';
  font-size: 22pt;
  margin: 150px 0px 0px 100px;
}
.friendfirstname{
  position: absolute;
  margin: 200px 0px 0px 100px;
}
.friendlastname{
  position: absolute;
  margin: 200px 0px 0px 300px;
}

.friends-pane {
  margin-left: 0px;
}

.friends-pane, .main-pane {
  background: #ffffff;
  margin-top: 20px;
  border: 3px solid black;
  border-radius: 6px;
}

.friendsHeader, .mainHeader {
background: #f3efe6;
border-bottom: 2px solid black;
}

.friendsHeaderText, .mainHeaderText {
  display: inline-block;
  font-family: 'Poiret One';
  font-weight: bold;
  color: #fa9d35;
  margin-right: 127px;
  margin-bottom: 10px;
}

.addFriend {
  font-size: 50px;
  display: inline-block;
  width: 50px;
  border: 0px;
  color: #323a45;
}

#add-gift {
  font-size: 50px;
  display: inline-block;
  width: 50px;
  border: 0px;
  color: #323a45;
  margin-left: 295px;
}

.addFriend:hover, #add-gift:hover {
  color: #fa9d35;
}

.addFriend:active, #add-gift:active {
  color: #323a45;
}

.friendsList {
  font-family: Lato;
  padding-left: 30px;
  color: #323a45;
  font-weight: bold;
}

.mainList {
font-family: Lato;
padding-left: 30px;
color: #323a45;
font-weight: bold;
}

.friendsList li:nth-of-type(even) {
  background: #f3efe6;
}
.editdelete{
  float: right;
}
.delete{
  border: 0px;
  width: 15px;
  padding: 0px 25px 5px 5px;
}
.edit{
  border: 0px;
  width: 15px;
  padding: 0px 20px 0px 5px;
}
.highlight{
  background-color: #fa9d35;
}
