/*  Giftr.com
    Color Scheme:
      #fa9d35 (orange)
      #323a45 (blue/green)
      #f3efe6 (off-white)
      #ffffff (white)
*/

body{
  background-color: #323a45;
}
.title{
  font-size: 80pt;
  font-family: 'Poiret One';
  color: #fa9d35;
  margin: 0px;
  padding-left: 50px;
  border-bottom: 1px solid #f3efe6;
}
.com{
  font-size: 40pt;
  font-family: 'Poiret One';
  color: #f3efe6;
}
.bgphoto{
  margin: 0px 0px 100px 60px;
  position: absolute;
}
.startbutton{
    border: 3px solid black;
    position: absolute;
    margin: 300px 0px 0px 100px;
    width: 300px;
    height: 50px;
    background-color: #323a45;
    font-size: 12pt;
}
.startbutton:hover{
    border: 3px solid black;
    position: absolute;
    margin: 300px 0px 0px 100px;
    width: 300px;
    height: 50px;
    background-color: #fa9d35;
    font-size: 12pt;
}
.nameprompt{
  color: white;
  position: absolute;
  font-family: 'Poiret One';
  font-size: 22pt;
  margin: 50px 0px 0px 100px;
}
.firstname{
  position: absolute;
  margin: 100px 0px 0px 100px;
}
.lastname{
  position: absolute;
  margin: 100px 0px 0px 300px;
}
.friendnameprompt{
  color: white;
  position: absolute;
  font-family: 'Poiret One';
  font-size: 22pt;
  margin: 150px 0px 0px 100px;
}
.friendfirstname{
  position: absolute;
  margin: 200px 0px 0px 100px;
}
.friendlastname{
  position: absolute;
  margin: 200px 0px 0px 300px;
}

.friends-pane {
  margin-left: 0px;
}

.friends-pane, .main-pane {
  background: #ffffff;
  margin-top: 20px;
  border: 3px solid black;
  border-radius: 6px;
}

.friendsHeader, .mainHeader {
  background: #f3efe6;
  font-family: 'Poiret One';
  font-weight: bold;
  color: #fa9d35;
  text-align: center;
  border-bottom: 2px solid black;
}

.friendsList {
  font-family: Lato;
  padding-left: 30px;
  color: #323a45;
  font-weight: bold;
}

.mainList {
font-family: Lato;
padding-left: 30px;
color: #323a45;
font-weight: bold;
}

.friendsList li:nth-of-type(even) {
  background: #f3efe6;
}
